---
layout: blog
title: Blog and Gallery
shortTitle: Blog and Gallery
permalink: /blog/
---

<div class="container mtb">
    <div class="row">
        <! -- BLOG POSTS LIST -->
        <div class="col-lg-8">
            {% for post in site.categories['blog'] %}
            <! -- Blog Post -->
            <div class="row">
                <a href="{{ post.url | prepend: site.baseurl }}" class="col-lg-2">
                    <img class="img-responsive" src="{{ '/assets/img/blog/' | prepend: site.baseurl }}{{ post.img }}">
                </a>
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle class="col-lg-10"">{{ post.title }}</h3></a>
            </div>
            <p>
                <csmall>{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</csmall>
            </p>
            {{ post.excerpt }}
            <p>
                <a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a>
            </p>
            <div class="hline"></div>
            <div class="spacing"></div>
            {% endfor %}
        </div>
        {% include sidebar.html %}
    </div>
</div>
