<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <!--Bank Account-->
            <h2>Bank Account</h2>
            <div>
              <section>
                  <ul type="circle">
                      <li>
                          <h4>UCSC Projects : 086-1001-111-91222</h4><br/>
                      </li>
                  </ul>
                  <ul type="circle">
                      <li>
                          <h4>Swift Code : PSBKLKLX023</h4><br/>
                      </li>
                  </ul>
              </section>
            </div>

            <!--Payment Gateway-->
            <!--<h2>Payment Gateway</h2>
            <div>
              <section>
                  <ul type="circle">
                      <li>
                          <h4><a href="">Link</a></h4><br/>
                      </li>
                  </ul>
              </section>
            </div>-->

            <!--BitCoin-->
            <!--<h2>BitCoin</h2>
            <div>
              <section>
                  <ul type="circle">
                      <li>
                          <h4><a href="">Link</a></h4><br/>
                      </li>
                  </ul>
              </section>
            </div>-->
        </div>   
        <!--<div class="col-lg-6">Donators</div>-->
    </div>
</div>