<style media="screen">
	.card-view>img{
		border: 1px solid #e3e3e3;
		padding: 10px;
	}
	.card-view{
		padding-bottom: 10px;
		padding-top: 10px;
	}
</style>
<div class="container mtb">
  <div class="row">
    <div class="col-lg-12">
      <div id="publications">
      		{% for publications in site.categories['publications'] limit:include.limit %}
			<section>
				<ul style="padding-left: 25px;" type="circle"> 
					<li>
						<h4>{{publications.title}}</h4>
						{{publications.authors}}<br/>
						<i>{{publications.conference}}</i>,
						{{publications.conferenceinfo}}
					</li>
				</ul>
			</section>				
			{% endfor %}
      </div>
    </div>
  </div>
</div>